In [37]:
import nltk
from nltk.collocations import BigramCollocationFinder
from nltk.metrics import BigramAssocMeasures
from nltk.corpus import stopwords
import pymorphy2
import pandas as pd

In [3]:
nltk.download('punkt')  
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\costy\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\costy\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [4]:
stopset = set(stopwords.words('russian'))

In [10]:
morph = pymorphy2.MorphAnalyzer()

In [26]:
with open('gogol.txt', encoding='utf8') as f:
    contents = f.read()

In [29]:
words = nltk.word_tokenize(contents)

In [31]:
words = [morph.parse(word)[0].normal_form for word in words if word.isalpha() if word.lower() not in stopset]

In [33]:
bigram_measures = BigramAssocMeasures()
finder = BigramCollocationFinder.from_words(words)

In [39]:
collocations = finder.score_ngrams(bigram_measures.pmi)

In [40]:
collocations = pd.DataFrame.from_dict(collocations)

In [41]:
collocations

                           0          1
0                 (bon, mot)  12.812578
1            (dominus, лата)  12.812578
2             (mot, острота)  12.812578
3     (аккуратный, износить)  12.812578
4              (арбуз, дыня)  12.812578
...                      ...        ...
6814         (философ, весь)   0.489242
6815          (философ, это)   0.292205
6816      (философ, который)   0.091907
6817      (философ, сказать)  -0.282489
6818         (свой, философ)  -0.419992

[6819 rows x 2 columns]